#play {
    -fx-background-color: linear-gradient(#ffaa80, #802b00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
#help {
    -fx-background-color: linear-gradient(#ffaa80, #802b00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
#exit {
    -fx-background-color: linear-gradient(#ffaa80, #802b00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
#help:hover,
#exit:hover,
#play:hover {
    -fx-background-color: linear-gradient(#ffaa80, #802b00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
}

#title
{
    -fx-fill: linear-gradient(#802b00, #ffaa80);
}
#title:hover{
    -fx-fill: black;
}